
body,html{height: 100%;background-color: #f0f0f0;}
body{font-family:"Microsoft YaHei" Verdana, Arial, Helvetica , sans-serif;overflow: hidden;}
.Layout{position: relative;width: 100%;overflow: hidden;height:100%;z-index:20;background:#fff;}
::-webkit-scrollbar {width:0;}
a{text-decoration: none;}
.aligncenter{text-align: center;}
.alignleft{text-align: left;}
.alignright{text-align: right;}
.nomar{margin:0!important;}
.nomar-t{margin-top:0!important;}
.nomart-b{margin-bottom: 0!important;}
.noborder-t{border-top:0!important;}
.noborder{border:0!important;}
.nopaddL{padding-left:0!important;}
.mart10{margin-top;10px!important;}
/*margin*/
.nomar{margin:0!important;}
.mar-auto{margin:0 auto!important;}
.nomar-t{margin-top:0!important}
.nomarl{margin-left:0!important;}
.nomarr{margin-right:0!important;}
.mart5{margin-top:5px!important;}
.mart10{margin-top:10px!important;}
.mart15{margin-top:15px!important;}
.mart20{margin-top:20px!important;}
.mart30{margin-top:30px!important;}
.mart50{margin-top:50px!important;}
.marl10{margin-left:10px!important;}
.marr10{margin-right:10px!important;}
.marr15{margin-right:15px!important;}
.marl5{margin-left:5px!important;}
.marl20{margin-left:20px!important;}
.marl30{margin-left:30px!important;}
.color-black{color:#000;}
.color-white{color:#fff;}
.floatleft{float: left;}
.floatright{float: right;}
/*padding*/
.nopadding{padding:0!important;}
.p-top5{padding-top:5px!important;}
.p-top10{padding-top:10px!important;}
.p-top40{padding-top:40px!important;}
.p-bt10{padding-bottom:10px!important;}
.p-bt20{padding-bottom:20px!important;}
/*font-size*/
.font12{font-size:12px!important;}
.font13{font-size:13px!important;}
.font14{font-size:14px!important;}
.font16{font-size:16px!important;}
.font18{font-size:18px!important;}
.font20{font-size:20px!important;}
.font25{font-size:25px!important;}
.font30{font-size:30px!important;}
.l_th{text-decoration:line-through!important;}
.txt_hidden{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline-block;}
.block{display: block;}
.goon{cursor: pointer;}
/*clear*/
.clear{clear:both;line-height:0;height:0;font-size:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1}

.aligncenter{text-align:center;}
.alignright{text-align:right;}
.alignleft{text-align:left;}
.header{width:100%;background-color:#1a79d8;color:#fff;height:44px;line-height:44px;position:fixed;top:0;left:0;border-bottom:1px solid #074687;z-index:9999;font-size:20px;}
.headerTitle{font-size:18px;height:35px;line-height: 35px;;}
.TopL,.TopR,.TopM{width:15%;height:100%;float: left;}
.TopR{float:right;}
.TopM{width:70%;float:left;text-align:center;line-height:44px;position: relative;}
.Txthidden{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline-block;}
.BtnIcon{font-size:0;line-height: 0;display: inline-block;height:100%;}
.Aback,.opens{width:100%;height:44px;background: url('../img/back.png') 19px center no-repeat;background-size:13px;}
.Add{width:100%;height:44px;background: url('../img/add.png') center center no-repeat;background-size:22px;}
.arrow{width: 18px;height:10px;display: inline-block;background: url('../img/arrow.png') no-repeat;position:relative;right:-20px;transition:0.3s;background-size:15px;}
.opens{background: url('../img/sl.png') 19px center no-repeat;background-size:23px;position:relative;}
.Back,.goon,.annex,.croose,.nocroose,.Forward,.return{width:30px;height:40px;background: url('../img/back2.png') center center no-repeat;background-size:16px;margin:0 10px;}
.goon{background: url('../img/goon2.png') center center no-repeat;background-size:16px;}
.annex{background: url('../img/fj2.png') center center no-repeat;background-size:30px;}
.croose{background: url('../img/write2.png') center center no-repeat;background-size:29px;}
.nocroose{background: url('../img/no2.png') center center no-repeat;background-size:29px;}
.Forward{background: url('../img/share2.png') center center no-repeat;background-size:26px;}
.return{background: url('../img/return.png') center center no-repeat;background-size:27px;}

.BtnONF{display:block;width:55px;height:28px;border-radius:40px;border:0;float: right;margin-right:15px;position: relative;cursor: pointer;}
.BtnONF span{display: inline-block;height:24px;width:24px;border-radius:50px;background: #fff;position:absolute;}
.BtnOn{background: #6bb5ff;}
.BtnOn span{top:2px;right:2px;box-shadow: -1px 1px 3px #64a9ee;}
.BtnOff{background: #fff;border:1px solid #e6e6e6;width:53px;height:26px;}
.BtnOff span{border:1px solid #e6e6e6;width:23px;height:23px;box-shadow: -1px 1px 3px #bcbcbc;top:0px;right:29px;}



.ULdrop{width:170px;background: #fff;border:1px solid #074687;border-top:0;position: absolute;z-index: 9999;top:-243px;left:50%;margin-left:-85px;transition:top 0.1s;}
.ULdrop li{display: block;line-height:40px;border-bottom: 1px solid #d4d4d4;}
.ULdrop li:last-child{border-bottom:0;}
.ULdrop li a{color:#666;font-size:15px;display: block;}
.dropDown .ULdrop{top:44px;transition:top 0.1s;}
.dropDown .arrow{transform:rotate(90deg);-webkit-transform:rotate(180deg);transition:0.3s;}

.footer{width:100%;background: #1a79d8;height:55px;line-height:55px;position:fixed;bottom:0;left:0;border-top:1px solid #074687;z-index:9999;color: #fff;overflow: hidden;}
.footer .Bthree{width:33%;height:59px;line-height:59px;border-right: 1px solid #67a6e5;float: left;}
.footer .Bthree:last-child{border: 0;}
.footer .Bthree a{display: inline-block;text-align: center;width:100%;height:100%;line-height:0.8em;color: #fff;font-size:0.8em;opacity: 0.7;position: relative;}
.footer .Bthree a.active{opacity: 1;}
.footer .Bthree a em{display:block;width:20px;height:32px;margin: 0 auto;margin-top:4px;margin-bottom:2px;background-size:20px;background-repeat: no-repeat;position:relative;bottom:-2px;}
a .prompt{display:block;position:absolute;border-radius:50em;background:#f62323;color:#fff;padding:2px 6px;line-height:15px;top:5%;left:60%;margin-left:-6px;font-size:12px;z-index:5;}
.ULdrop li a .prompt{top:12%;left: 68%;}
.opens .prompt{padding:6px;top:15%;left:80%;}
.footer .Btnok a em{background-image: url('../img/write.png');}/*通过*/
.footer .Btnno a em{background-image:url('../img/no.png');}/*否决*/
.footer .Btnshare a em{background-image:url('../img/share.png');}/*转审*/
.footer .Btnmine a em{background-image:url('../img/mine.png');}/*我的申请*/
.footer .Btnex a em{background-image:url('../img/edit1.png');width:25px;background-size:25px;position:relative;bottom:-3px;}/*我的审批*/
.footer .Btnth a em{background-image:url('../img/through.png');width:26px;background-size:26px;position:relative;bottom:-4px;}/*我的经办*/
.bottomnav{background:#fff;border-top:1px solid #ebebeb;height: 40px;}



.content{color:#666;width:100%;position:absolute;left: 0;bottom: 55px;top:44px;overflow:hidden;z-index: 1;}
.notop{top:35px;bottom:40px;}
.Formlist{background: #fefefe;border:1px solid #c4c4c4;border-width:1px 0 1px 0;margin-bottom:10px;position:relative;}
.Formlist:first-child{border-top:0;}
.Formlist:last-child{margin-bottom: 0;border-bottom:0;}
.Formlist li{border-bottom:1px solid #f2f2f2;padding:10px 30px 10px 15px;background:url("../img/li-arrow.png") no-repeat 94% center; background-size:10px;position: relative;z-index:2;}
.Formlist li a{display:block;color:#666;position: relative;z-index:2;}
.Formlist li:last-child{border-bottom:0;}
.Formlist li p{line-height:25px;font-size:15px;}
.Formlist li p span{padding:0 3px;}
.Formlist li p:nth-child(2) span:nth-child(1){padding-right:15px;font-size: 14px;}
.Formlist li:active{background:#379afe url("../img/li-arrow2.png") no-repeat 94% center;background-size:10px;color:#fff;}
.Formlist li:active a{color:#fff;}
.loading{font-size:13px;padding:0 0 15px 0;text-align: center;}
.loading img{margin-right:5px;}
/*申请详情*/
.application{background:#fefefe;width:100%;border-top:1px solid #c4c4c4;border-bottom:1px solid #f2f2f2;padding:10px 0;margin-top:10px;position:relative;}
.application table{width: 100%;}
.application table th,.application table td{font-size:15px;height: 20px;padding:10px 0;}
.application table th{color:#999;width:30%;padding-left:20px;}
.application table td{color:#666;text-align: left;word-break:break-all;word-wrap: break-word;padding-right:10px;}
.Aligntop th{vertical-align: top;}
.Atitle{color:#666;border-bottom: 1px solid #f2f2f2;margin: 0 10px;padding:10px 10px 10px 17px;font-size:18px;}
table.Aprocess th,table.Aprocess td{border-bottom: 1px solid #f2f2f2;}
table.Aprocess th{border-bottom:1px solid #b4b4b4;padding-left: 0;width: auto;}
table.Aprocess th:first-child{width: 30%;}
table.Aprocess td{padding:6px 0;font-size:13px;vertical-align:top;line-height:25px;}
table.Aprocess th:nth-child(1),table.Aprocess td:nth-child(1){padding-left:18px;}
table.Aprocess tr.Nprocess td{color:#1a79d8;border-bottom: 1px solid #b4b4b4;}
/*侧边栏*/
.sidebar{width:100%;height:100%;position:absolute;left:0;top:0;background:url("../img/bg.jpg");background-size: 100%;}
.sidebar ul{padding-top:30px;}
.sidebar ul li,.LOut span{color:#fff;display: block;line-height:30px;padding:5px 10px 5px 37px;margin-bottom: 3px;font-size:14px;text-shadow: 1px 1px 1px #333;background-repeat: no-repeat;background-position: 14px center;background-size:18px;}
.sidebar ul li .prompt{border-radius:4px;height:20px;line-height:20px;padding:0 5px;margin:6px 20px 0 0;background:#333;font-size:13px;float: right;display:inline-block;}
.sidebar ul li em{font-size:12px;margin-left:3px;}
.sidebar ul li.userimg{padding: 0;margin:0;margin-bottom: 30px;}
.sidebar ul li.userimg img{border-radius:50px;width: 70px;height:70px;margin-left:30px;border:2px solid #3a3e47;}
.sidebar ul li.userimg p{font-size:13px;padding-left:15px;line-height:20px;}
.sidebar ul li.ypz{background-image: url("../img/icon1.png");}
.sidebar ul li.wsh{background-image: url("../img/icon6.png");}
.sidebar ul li.ybh{background-image: url("../img/icon7.png");}
.sidebar ul li.yfj{background-image: url("../img/icon3.png");}
.sidebar ul li.yzs{background-image: url("../img/icon5.png");}
.sidebar ul li.current{background-color: #212c42;opacity: 0.7;}
.LOut{position:absolute;bottom:19px;left:0px;}
.LOut span{display: inline-block;padding:0;padding-left:35px;}
.LOut span.quit{background-image: url("../img/icon2.png");background-size:16px;}
.LOut span.change{background-image: url("../img/icon8.png");background-size:24px;padding-left:40px;background-position: 14px 8px;}

.sidebar.show + .Layout {
	-webkit-transition: -webkit-transform 400ms;
	height: 85%;
	top:35px;
    -webkit-transform: translate3d(60%,0,0);
    -webkit-transform: perspective(650px) rotateY(-50deg) translate3d(60%,0,0);
}
.sidebar.hide + .Layout {
    -webkit-transition: -webkit-transform 400ms;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: perspective(0) rotateY(0) translate3d(0,0,0);
}
/*表单填写*/
.appedit{background:none;border-top:0;margin-top:0;padding-top:0;}
.appedit table th,.appedit table td{padding:0;font-size:14px;background-color:#fff;border-bottom:1px solid #f0f0f0;line-height:45px;}
.appedit table:first-child th,.appedit table:first-child td{background:none;border-bottom:1px solid #d5d5d5;}
.appedit table:first-child th{width:21%;}
.appedit table th:first-child{padding-left:10px;}
.appedit table td select{width:100%;height: 100%;border:0;background: none;background: url("../img/li-arrow.png") no-repeat 91% center;background-size:10px;}
.appedit table td select option{color:#1a79d8;font-size:15px;}
.appedit table td input,.appedit table td textarea{width:100%;height: 100%;line-height:100%;border:0;background: none;text-align: right;padding-right:10px;}
.appedit table.Remarks td,.appedit table.Remarks th{border:1px solid #d5d5d5;border-width:1px 0;}
.appedit table.Remarks th{height:70px;vertical-align: top;}
.appedit table.Remarks td textarea{height:auto;line-height: 20px;position:relative;top:5px;padding: 5px 10px 10px 0;}
.appedit table.tableBt th,.appedit table.tableBt td{border-bottom:1px solid #d5d5d5;}
.appedit table.tableON th{width:70%;height: 45px;}




























