<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>新建流程</title>
	    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/iscroll.js"></script>
		<script type="text/javascript" src="../js/lAapp.js"></script>
	</head>
	<body>
		<div class="view">
			<!--header begin-->
			<header class="header clearfix">
				<div class="TopL"></div>
				<div class="TopM aligncenter"><span class="font17">新建流程</span></div>
				<div class="TopR" id="Search"><span class="inlineblock font14 quit">取 消</span></div>
			</header>
			<!--header over-->
			<div class="content" id="wrapper">
				<div id="scroller">
					<div class="editMain">
						<ul class="editList process p-top10">
							<li class="choose hsaRevoke">
								<p class="color-8 alignleft marl10">第一步</p>
								<div class="LiOut mart5">
									<div class="Inmask clearfix" style="display:none;">
										<span class="floatleft">请选择审批人</span>
									</div>
									<div class="Userprocess txt_hidden clearfix">
										<span class="floatleft"><img src="../img/cdm.jpg"></span>
										<span class="color-6">刘德华</span>
										<span>明道产品部</span>
										<span>产品经理产品经理产品经理产品经理产品经理</span>
									</div>
								</div>
								<span class="Revoke">删除</span>
							</li>
							<li class="choose">
								<p class="color-8 alignleft marl10">第二步</p>
								<div class="LiOut mart5">
									<div class="Inmask clearfix">
										<span class="floatleft">请选择审批人</span>
									</div>
								</div>
							</li>
							<li class="choose hsaRevoke">
								<p class="color-8 alignleft marl10">第三步</p>
								<div class="LiOut mart5">
									<div class="Inmask clearfix" style="display:none;">
										<span class="floatleft">请选择审批人</span>
									</div>
									<div class="Userprocess txt_hidden clearfix">
										<span class="floatleft"><img src="../img/cdm.jpg"></span>
										<span class="color-6">刘德华</span>
										<span>明道产品部</span>
										<span>产品经理产品经理产品经理产品经理产品经理</span>
									</div>
								</div>
								<span class="Revoke">删除</span>
							</li>							
							<li><div class="LiOut mart5 aligncenter font14 addstep"><span class="font18">+</span> 添加步骤</div></li>
							<li class="choose mart20">
								<p class="color-8 alignleft marl10">所有审批通过后，交由经办人执行</p>
								<div class="LiOut mart5" style="left:0;">
									<div class="Inmask clearfix" style="display:block;">
										<span class="floatleft">请选择经办执行人</span>
									</div>
									<div class="Userprocess txt_hidden clearfix" style="display:none;">
										<span class="floatleft"><img src="../img/cdm.jpg"></span>
										<span class="color-6">刘德华</span>
										<span>明道产品部</span>
										<span>产品经理产品经理产品经理产品经理产品经理</span>
									</div>
								</div>
								<span class="Revoke">删除</span>
							</li>
						</ul>	
						<span class="nextstep Submitstep aligncenter font18 mart20">保存流程</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
