<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>选择表单</title>
	    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/iscroll.js"></script>
		<script type="text/javascript" src="../js/lAapp.js"></script>
		</head>
	<body>
		<!--底部半圆按钮begin-->
		<div class="BottomBtn current"><em class="BtnIcon plus"></em></div>
		<!--底部半圆按钮over-->
		<!--表单选择弹出 begin-->
		<div class="formIcon">
			<div class="formIconin p-top40">
				<!--搜索框begin-->
				<div class="SearchBox nomar-t">
					<input type="text" placeholder=""/>
				</div>
				<!--搜索框over-->
				<div class="formIconin-box" id="wrapper">
					<div id="scroller">
						<ul>
							<li><span class="bg-01"><i class="BtnIcon f-ico1"></i></span>资源申请</li>
							<li><span class="bg-02"><i class="BtnIcon f-ico2"></i></span>资源申请</li>
							<li><span class="bg-03"><i class="BtnIcon f-ico3"></i></span>资源申请</li>
							<li><span class="bg-04"><i class="BtnIcon f-ico4"></i></span>资源申请</li>
							<li><span class="bg-05"><i class="BtnIcon f-ico5"></i></span>资源申请</li>
							<li><span class="bg-06"><i class="BtnIcon f-ico6"></i></span>资源申请</li>
							<li><span class="bg-01"><i class="BtnIcon f-ico1"></i></span>资源申请</li>
							<li><span class="bg-02"><i class="BtnIcon f-ico2"></i></span>资源申请</li>
							<li><span class="bg-03"><i class="BtnIcon f-ico3"></i></span>资源申请</li>
							<li><span class="bg-04"><i class="BtnIcon f-ico4"></i></span>资源申请</li>
							<li><span class="bg-05"><i class="BtnIcon f-ico5"></i></span>资源申请</li>
							<li><span class="bg-06"><i class="BtnIcon f-ico6"></i></span>资源申请</li>
							<li><span class="bg-01"><i class="BtnIcon f-ico1"></i></span>资源申请</li>
							<li><span class="bg-02"><i class="BtnIcon f-ico2"></i></span>资源申请</li>
							<li><span class="bg-03"><i class="BtnIcon f-ico3"></i></span>资源申请</li>
							<li><span class="bg-04"><i class="BtnIcon f-ico4"></i></span>资源申请</li>
							<li><span class="bg-05"><i class="BtnIcon f-ico5"></i></span>资源申请</li>
							<li><span class="bg-06"><i class="BtnIcon f-ico6"></i></span>资源申请</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--表单选择弹出 over-->
	</body>
</html>
