<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>我的审批</title>
    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/lAapp.js"></script>
</head>
<body>
	<div class="maskOver maskOverbg" style="display:none;">
		<div class="maskIN aligncenter">
			<p><img src="../img/loading.gif" width="81"/></p>
			<p class="color-8">努力加载中...</p>
		</div>
	</div><!--最上层的放置点击遮罩层-->
	<!--侧边栏begin-->
	<aside class="sidebar">
		<p class="LOut">
			<span class="change"><i class="BtnIcon change-net"></i>切换网络</span>
			<span class="quit current"><i class="BtnIcon Icon-out"></i>登出</span>
			<span class="change"><i class="BtnIcon Icon-change"></i>切换账号</span>
			<!--<span class="change"><i class="BtnIcon Icon-change nobg"></i>查看更新</span>-->
		</p>
	</aside>
	<!--侧边栏over-->
	<div class="view home">
		<!--header begin-->
		<header class="header-top">
			<i class="BtnIcon ico-set"></i>
			<section class="form-top p-top10 marl15 sidebar">
				<ul>
					<li class="userimg clearfix">
						<span class="userimg"><img src="../img/cdm.jpg"></span>
						<p class="font14 p-top5"><em class="color-3"></em>王振佳</p>
						<p><span class="font9">产品经理</span></p>
					</li>
				</ul>
			</section>
			<div class="mask-bar"></div>
			<nav class="nav-bar">
				<ul class="clearfix">
					<li class="current"><i class="BtnIcon Icon-pen"></i>我的申请<em class="prompt"></em></li>
					<li><i class="BtnIcon Icon-paper"></i>我的审批<em class="prompt" style="display:none;"></em></li>
					<li><i class="BtnIcon Icon-pack"></i>我的经办<em class="prompt" style="display:none;"></em></li>
				</ul>
			</nav>
		</header>
		<!--header over-->
		<!--content begin-->
		<div class="content home-main" id="wrapper">
			<p class="home-title color-6">常用表单</p>
			<div class="formIconin-box" style="left:-320px;">
				<table class="floatleft" style="width:320px;">
					<tr>
						<td class="active"><span class="bg-01"><i class="BtnIcon f-ico1"></i></span>资源申请</td>
						<td><span class="bg-02"><i class="BtnIcon f-ico2"></i></span>资源申请申请</td>
						<td><span class="bg-03"><i class="BtnIcon f-ico3"></i></span>资源申请</td>
					</tr>
					<tr>
						<td><span class="bg-01"><i class="BtnIcon f-ico5"></i></span>资源申请</td>
						<td><span class="bg-02"><i class="BtnIcon f-ico6"></i></span>资源申请申请</td>
						<td><span class="bg-03"><i class="BtnIcon f-ico1"></i></span>资源申请</td>
					</tr>
					<tr>
						<td><span class="bg-01"><i class="BtnIcon f-ico1"></i></span>资源申请</td>
						<td><span class="bg-02"><i class="BtnIcon f-ico2"></i></span>资源申请申请</td>
						<td><span class="bg-03"><i class="BtnIcon f-ico3"></i></span>资源申请</td>
					</tr>
				</table>
				<table class="floatleft" style="width:320px;">
					<tr>
						<td class="active"><span class="bg-01"><i class="BtnIcon f-ico1"></i></span>资源申请</td>
						<td><span class="bg-02"><i class="BtnIcon f-ico2"></i></span>资源申请申请</td>
						<td><span class="bg-03"><i class="BtnIcon f-ico3"></i></span>资源申请</td>
					</tr>
					<tr>
						<td><span class="bg-01"><i class="BtnIcon f-ico5"></i></span>资源申请</td>
						<td><span class="bg-02"><i class="BtnIcon f-ico6"></i></span>资源申请申请</td>
						<td><span class="bg-03"><i class="BtnIcon f-ico1"></i></span>资源申请</td>
					</tr>
					<tr>
						<td><span class="bg-01"><i class="BtnIcon f-ico1"></i></span>资源申请</td>
						<td><span class="bg-02"><i class="BtnIcon f-ico2"></i></span>资源申请申请</td>
						<td><span class="bg-03"><i class="BtnIcon f-ico3"></i></span>资源申请</td>
					</tr>
				</table>
			</div>
			<dl class="page p-top10 aligncenter">
				<dd class="current"></dd>
				<dd></dd>
				<dd></dd>
			</dl>
		</div>
		<!--content over-->
	</div>
	<!--提示更新 begin-->
	<div class="choosenet update" style="display:none;">
		<div class="choosenetin">
			<p class="font14">目前有新版本，是否升级？</p>
			<p>最新版本：v1.01</p>
			<p>更新内容</p>
			<p>1、优化界面显示</p>
			<p>2、修复列表BUG</p>
			<p>3、优化界面加载速度</p>
			<p>4、新增提示效果</p>
		</div>
		<p class="bottomB font14 clearfix">
			<span class="quitBtn aligncenter">取&nbsp;&nbsp;&nbsp;消</span>
			<span class="quitBtn aligncenter current">确&nbsp;&nbsp;&nbsp;定</span>
		</p>
	</div>
	<!--提示更新 over-->
	<div class="mask" id="RemoveLeft"></div>
	<div class="mask" style="opacity:0.5;display:none;"></div>
	<div class="maskOver" style="display:none;"></div><!--最上层的放置点击遮罩层-->
</body>
</html>