<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style"> 
    <title>我的审批</title>
    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/iscroll.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
	<script type="text/javascript" src="../js/lAapp.js"></script>
</head>
<body>
	<div class="maskOver maskOverbg" style="display:none;">
		<div class="maskIN aligncenter">
			<p><img src="../img/loading.gif" width="81"/></p>
			<p class="color-8">努力加载中...</p>
		</div>
	</div><!--最上层的放置点击遮罩层-->
	<!--侧边栏begin-->
	<aside class="sidebar">
		<ul>
			<li class="userimg">
				<span class="userimg"><img src="../img/cdm.jpg"></span>
				<p class="font14">andy.zhao</p>
				<p>北京研发中心</p>
				<p>产品经理 / UI设计</p>
			</li>
		</ul>
		<ul class="nopadding">
			<li class="current"><i class="BtnIcon Icon-pen"></i>我的申请<em class="prompt">1</em></li>
			<li><i class="BtnIcon Icon-paper"></i>我的审批<em class="prompt">10</em></li>
			<li><i class="BtnIcon Icon-pack"></i>我的经办<em class="prompt">99</em></li>
		</ul>
		<p class="LOut p-top50">
			<span class="quit current"><i class="BtnIcon Icon-out"></i>登出</span>
			<span class="change"><i class="BtnIcon Icon-change"></i>切换账号</span>
		</p>
	</aside>
	<!--侧边栏over-->
	<div class="view">
		<!--header begin-->
		<header class="header clearfix">
			<div class="TopL"><span class="BtnIcon Calleft"></span></div>
			<div class="TopM aligncenter"><span class="block font16" id="ToggleDown">待审核 <em class="BtnIcon Icon-toggle"></em></span></div>
			<div class="TopR" id="Search"><span class="BtnIcon TopSer"></span></div>
		</header>
		<!--header over-->
		<!--审核状态选择 弹出begin-->
		<div class="TopDown">
			<div class="TopDownIn">
				<ul>
					<!--<li class="current"><i class="BtnIcon Icon-wait"></i>待审核<em class="prompt" style="display: block;">1</em></li>-->
					<li><i class="BtnIcon Icon-fj"></i>已否决<em class="prompt" style="display: none;">1</em></li>
					<!--<li><i class="BtnIcon Icon-cross"></i>已通过<em class="prompt" style="display:none;">1</em></li>-->
					<li><i class="BtnIcon Icon-history"></i>历史<em class="prompt" style="display:inline-block;">1</em></li>
					<li><i class="BtnIcon Icon-sure"></i>确认<em class="prompt" style="display:none;">1</em></li>
				</ul>
			</div>
		</div>
		<!--审核状态选择 弹出over-->
		<!--搜索框begin-->
		<div class="SearchBox">
			<div class="SearchIn">
				<input type="text" placeholder=""/>
			</div>
		</div>
		<!--搜索框over-->
		<!--content begin-->
		<div class="content" id="wrapper">
			<div id="scroller" style="display:block;">
				<div class="aligncenter more wait">
					<span class="loading"></span>
					<span>
						<em class="font13">加载中...</em><br />
						<em class="font9 color-8">最后更新: 今天 12:07</em>
					</span>
				</div>
				<ul class="list">
					<li class="clearfix">
						<span class="BtnIcon arrow1"></span>
						<span class="AppImg floatleft bg-01"><i class="BtnIcon f-ico1"></i></span>
						<p>
							<span class="AppName font14">采购申请</span>
							<span class="floatright">2014-06-13</span>
						</p>
						<p>
							<span>CG-2014-0001</span>
							<span class="floatright"></span>
						</p>
						<span class="Revoke">撤销</span>
					</li>
					<li class="clearfix cross">
						<span class="AppImg floatleft bg-02"><i class="BtnIcon f-ico2"></i></span>
						<p>
							<span class="AppName font14">出差申请</span>
							<span>(自定义)</span>
							<span class="floatright">2014-06-13</span>
						</p>
						<p>
							<span>CG-2014-0001</span>
							<span class="floatright">已通过</span>
						</p>
						<span class="Revoke">撤销</span>
					</li>
					<li class="clearfix current cross">
						<span class="AppImg floatleft bg-01"><i class="BtnIcon f-ico3"></i></span>
						<p>
							<span class="AppName font14">加班申请</span>
							<span class="floatright">2014-06-13</span>
						</p>
						<p>
							<span>CG-2014-0001</span>
							<span class="floatright">已通过</span>
						</p>
					</li>
					<li class="clearfix cross">
						<span class="AppImg floatleft bg-01"><i class="BtnIcon f-ico4"></i></span>
						<p>
							<span class="AppName font14">加班申请</span>
							<span class="floatright">2014-06-13</span>
						</p>
						<p>
							<span>CG-2014-0001</span>
							<span class="floatright">已通过</span>
						</p>
					</li>
					<li class="clearfix nocross">
						<span class="AppImg floatleft bg-02"><i class="BtnIcon f-ico1"></i></span>
						<p>
							<span class="AppName font14">考勤申请</span>
							<span class="floatright">2014-06-13</span>
						</p>
						<p>
							<span>CG-2014-0001</span>
							<span class="floatright">已否决</span>
						</p>
					</li>
					<li class="clearfix">
						<span class="AppImg floatleft bg-04"><i class="BtnIcon f-ico5"></i></span>
						<p>
							<span class="AppName font14">出差申请</span>
							<span>(自定义)</span>
							<span class="floatright">2014-06-13</span>
						</p>
						<p>CG-2014-0001</p>
					</li>
					<li class="clearfix">
						<span class="AppImg floatleft bg-04"><i class="BtnIcon f-ico1"></i></span>
						<p>
							<span class="AppName font14">出差申请</span>
							<span>(自定义)</span>
							<span class="floatright">2014-06-13</span>
						</p>
						<p>CG-2014-0001</p>
					</li>
				</ul>
				<div class="aligncenter more color-9" style="padding-bottom:40px;">点击加载更多...</div>
			</div>
			<p class="font14 aligncenter color-8" style="position: absolute;height:25px;width:150px;top:50%;left:50%;margin:-10px 0 0 -75px;display:none;">当前没有待审核的表单</p>
		</div>
		<!--content over-->
		<!--底部半圆按钮begin-->
		<div class="BottomBtn" id="sendAction"><em class="BtnIcon plus"></em></div>
		<!--底部半圆按钮over-->
	</div>
	<div class="mask" id="RemoveLeft"></div>
	<div class="maskOver" style="display:none;"></div><!--最上层的放置点击遮罩层-->
</body>
</html>















