<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>loading</title>
	    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/iscroll.js"></script>
		<script type="text/javascript" src="../js/common.js"></script>
		<script type="text/javascript" src="../js/update.js" ></script>
		<script type="text/javascript" src="../js/lAapp.js"></script>
	</head>
	<body>
		<div class="view" style="background: url(../img/loading.jpg) no-repeat;background-size:cover;"></div>
	</body>
</html>
