<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>loading</title>
	    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/iscroll.js"></script>
		<script type="text/javascript" src="../js/lAapp.js"></script>
	</head>
	<body>
		<!--第一次进入未登录时  begin-->
		<div class="view login" style="display:none;">
			<table class="logintab" width="100%">
				<tr>
					<td class="aligncenter"><img src="../img/slogan.png" width="160"></td>
				</tr>
				<tr>
					<td class="aligncenter"><p><img src="../img/l-logo.png" width="120"></p></td>
				</tr>
			</table>
		</div>
		<!--第一次进入未登录时  over-->
		<!--登录后进入  begin-- >
		<div class="view login">
			<table class="logintab" width="100%">
				<tr>
					<td>
						<div class="Circle">
							<span class="CircleIn current"></span><!--加current就开始转了-->
							<span class="logo"><img src="../img/circle2.png"></span>
						</div>
						<p class="aligncenter mart20 color-6 font14">欢迎回来</p>
					</td>
				</tr>
				<tr><td class="aligncenter"><p><img src="../img/l-logo.png" width="120"></p></td></tr>
			</table>
		</div>
		<!--登录后进入  begin-->
	</body>
</html>
