<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>登录</title>
	    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript">
		//判断输入框获得焦点，然后改变页面的margin-top
			$(function(){
				$Int = $('.loginInt input');
				$Int.focus(function(){
					$('.view').addClass('totop');
				});
				$Int.blur(function(){
					$('.view').removeClass('totop');
				});
			});
		</script>
		<style type="text/css">
			html,body{background-color:#fff;}
		</style>
	</head>																																			
	<body>
		<div class="view login">
			<table class="logintab" width="100%" style="display: none;">
				<tr>
					<td class="aligncenter p-top50"><span><img src="../img/logo.png" width="140"></span></td>
				</tr>
				<tr>
					<td>
						<div class="Circle">
							<span class="CircleIn current"></span><!--加current就开始转了-->
							<span class="logo"><img src="../img/circle2.png"></span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="loginInt">
							<p><input type="text" placeholder="用户名"></p>
							<p><input type="password" placeholder="密码"></p>
						</div>
					</td>
				</tr>
				<tr>
					<td class="p-top10" style="padding-bottom:50px;">
						<!--滑动登录begin-->
						<div class="loginBtn">
							<span class="Logintext">滑动登录...</span>
							<div class="loginBtnIn" style="width:18%;"><span class="BtnIcon Icon-login"></span></div>
						</div>
						<!--滑动登录begin-->
					</td>
				</tr>
				<tr>
					<td class="aligncenter"><p><img src="../img/l-logo.png" width="60"></p></td>
				</tr>
			</table>
			<table class="logintab" width="100%">
				<tr>
					<td>
						<div class="p-top30">
							<p class="aligncenter"><img src="../img/logo.png" width="140"></p>
							<div class="Circle mart20">
								<span class="CircleIn current"></span><!--加current就开始转了-->
								<span class="logo"><img src="../img/circle2.png"></span>
							</div>
							<div class="loginInt mart30">
								<p><input type="text" placeholder="用户名"></p>
								<p><input type="password" placeholder="密码"></p>
							</div>
							<!--滑动登录begin-->
							<div class="loginBtn mart40">
								<span class="Logintext">滑动登录...</span>
								<div class="loginBtnIn" style="width:20%;"><span class="BtnIcon Icon-login"></span></div>
							</div>
							<!--滑动登录begin-->
						</div>
					</td>
				</tr>
				<tr><td class="aligncenter"><p><img src="../img/l-logo.png" width="70"></p></td></tr>
			</table>
		</div>
		<!--选择网络弹出begin-->
		<div class="choosenet" style="display:none;">
			<div class="choosenetin">
				<ul>
					<li>Mingdao Plus</li>
					<li>梅花和明道</li>
					<li>Mingdao Plus</li>
					<li>梅花和明道</li>
					<li>Mingdao Plus</li>
					<li>梅花和明道</li>
				</ul>
			</div>
			<span class="quitBtn aligncenter">取消</span>
		</div>
		<!--选择网络弹出over-->
		<!--提示更新 begin-->
		<div class="choosenet update" style="display:block;">
			<div class="choosenetin">
				<p class="font14">目前有新版本，是否升级？</p>
				<p>最新版本：v1.01</p>
				<p>更新内容</p>
				<p>1、优化界面显示</p>
				<p>2、修复列表BUG</p>
				<p>3、优化界面加载速度</p>
				<p>4、新增提示效果</p>
			</div>
			<p class="bottomB font14 clearfix">
				<span class="quitBtn aligncenter">取&nbsp;&nbsp;&nbsp;消</span>
				<span class="quitBtn aligncenter current">确&nbsp;&nbsp;&nbsp;定</span>
			</p>
		</div>
		<!--提示更新 over-->
		<div class="mask" style="opacity:0.5;display:block;"></div>
	</body>
</html>
