<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>登录</title>
	    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript">
		//判断设备屏幕高度
			function resizeH(){
				Wh = parseInt($(window).height());
				var $login = $('.login');
				if(Wh>460){
					$login.removeClass('noh');
				}
			}
			$(document).ready(function(){
				resizeH();
			});
		</script>
		<style type="text/css">
			html,body{background-color:#fff;}
		</style>
	</head>																																			
	<body>
		<div class="view login noh" style="height: auto;">
			<!--header begin-->
			<header class="header clearfix" style="position:fixed;"></header>
			<!--header over-->
			<div class="p-top50">
				<p class="aligncenter block"><img src="../img/logo.png" width="128"></p>
				<div class="Circle mart15">
					<span class="CircleIn current"></span><!--加current就开始转了-->
					<span class="logo"><img src="../img/circle2.png"></span>
				</div>
				<div class="loginInt">
					<p><input type="text" placeholder="用户名"></p>
					<p><input type="password" placeholder="密码"></p>
				</div>
				<!--滑动登录begin-->
				<div class="loginBtn mart40">
					<span class="Logintext">Login ...</span>
					<div class="loginBtnIn" style="width:18%;"><span class="BtnIcon Icon-login"></span></div>
				</div>
				<!--滑动登录begin-->
			</div>
		</div>
		<!--选择网络弹出begin-->
		<div class="choosenet" style="display:none;">
			<div class="choosenetin">
				<ul>
					<li>Mingdao Plus</li>
					<li>梅花和明道</li>
					<li>Mingdao Plus</li>
					<li>梅花和明道</li>
					<li>Mingdao Plus</li>
					<li>梅花和明道</li>
				</ul>
			</div>
			<span class="quitBtn aligncenter">取消</span>
		</div>
		<!--选择网络弹出over-->
		<div class="mask" style="opacity:0.5;display:none;"></div>
	</body>
</html>
