<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>登录</title>
	    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript">
		//判断输入框获得焦点，然后改变页面的margin-top
//			$(function(){
//				$Int = $('.loginInt input');
//				$Int.focus(function(){
//					$('.view').addClass('totop');
//				});
//				$Int.blur(function(){
//					$('.view').removeClass('totop');
//				});
			});
		</script>
	</head>																																			
	<body>
		<div class="view login">
			<table class="logintab" width="100%">
				<tr>
					<td class="aligncenter p-top20"><span><img src="../img/slogan.png" width="150"></span></td>
				</tr>
				<tr><td class="p-top30"></td></tr>
			</table>
			<!--<span class="logo_gif"><img src="../img/loading_login.gif" width="60"></span>-->
			<table class="logintab" width="100%" style="display:none;">
				<tr><td class="p-top30"><p class="aligncenter"><img src="../img/logo2.png" width="124"></p></td></tr>
				<tr>
					<td class="p-bt20">
						<div>
							<div class="Circle mart20" style="display:none;">
								<span class="CircleIn current"></span><!--加current就开始转了-->
								<span class="logo"><img src="../img/circle2.png"></span>
							</div>
							<div class="loginInt">
								<p><input type="text" placeholder="请输入用户名"></p>
								<p><input type="password" placeholder="请输入密码"></p>
							</div>
							<span class="nextstep aligncenter font20 mart15">登录</span>
						</div>
					</td>
				</tr>
				<tr><td class="aligncenter p-top50"><img src="../img/login_loading_bg.png" width="50"></td></tr>
			</table>
		</div>
		<!--选择网络弹出begin-->
		<div class="choosenet" style="display:none;">
			<div class="choosenetin">
				<ul>
					<li class="current">Mingdao Plus</li>
					<li>梅花和明道</li>
					<li>Mingdao Plus</li>
					<li>梅花和明道</li>
					<li>Mingdao Plus</li>
					<li>梅花和明道</li>
				</ul>
			</div>
			<span class="quitBtn aligncenter">取消</span>
		</div>
		<!--选择网络弹出over-->
		<div class="mask" style="opacity:0.5;display:none;"></div>
	</body>
</html>
