<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>选择流程</title>
	    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/iscroll.js"></script>
		<script type="text/javascript" src="../js/lAapp.js"></script>
	</head>
	<body>
		<div class="view">
			<!--header begin-->
			<header class="header clearfix">
				<div class="TopL"><span class="BtnIcon Back"></span></div>
				<div class="TopM aligncenter"><span class="font17">选择流程</span></div>
				<div class="TopR" id="Search"></div>
			</header>
			<!--header over-->
			<div class="content" id="wrapper">
				<div id="scroller">
					<div class="editMain">
						<ul class="editList process processlist p-top10">
							<li><p class="color-8 marl10">选择一种审批流程</p></li>
							<li class="choose mart5 choosed"><!--加choosed选中当前流程-->
								<div class="LiOut">
									<div class="Userprocess clearfix">
										<em>刘德华</em>
										<em>&gt;</em>
										<em>孙燕姿</em>
										<em>&gt;</em>
										<em>赵四</em>
										<em>&gt;</em>
										<em>刘德华</em>
										<em>&gt;</em>
										<em>孙燕姿</em>
										<em>刘德华</em>
										<em>&gt;</em>
										<em>孙燕姿</em>
									</div>
								</div>
							</li>
							<li class="choose"><!--加choosed选中当前流程-->
								<div class="LiOut">
									<div class="Userprocess clearfix">
										<em>刘德华</em>
										<em>&gt;</em>
										<em>孙燕姿</em>
										<em>&gt;</em>
										<em>赵四</em>
										<em>&gt;</em>
										<em>刘德华</em>
										<em>&gt;</em>
										<em>孙燕姿</em>
									</div>
								</div>
							</li>
							<li class="choose"><!--加choosed选中当前流程-->
								<div class="LiOut">
									<div class="Userprocess clearfix">
										<em>刘德华</em>
										<em>&gt;</em>
										<em>孙燕姿</em>
										<em>&gt;</em>
										<em>赵四</em>
									</div>
								</div>
							</li>
							<li class="mart10"><div class="LiOut mart5 aligncenter font14 addstep"><span class="font18">+</span> 新建审批流程</div></li>				
						</ul>	
						<span class="nextstep Submitstep aligncenter font18 mart20">提交申请</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
