<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>评分-step2</title>
	    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/iscroll.js"></script>
		<script type="text/javascript" src="../js/lAapp.js"></script>
	</head>
	<body>
		<div class="view">
			<!--header begin-->
			<header class="header clearfix">
				<div class="TopL"><span class="BtnIcon Back"></span></div>
				<div class="TopM aligncenter"><span class="font17">评分表单</span></div>
				<!--<div class="TopR" id="Search"></div>-->
			</header>
			<!--header over-->
			<div class="content" id="wrapper">
				<div id="scroller">
					<div class="editMain">
						<ul class="editList process score p-top10">
							<li class="choose">
								<ol>
									<li>对自身岗位职责与目标负责，勇于承担责任。</li>
									<li>对上级交付的任务积极完成，一丝不苟，可让人信任。</li>
								</ol>
								<div class="LiOut mart5">
									<div class="Inmask clearfix">
										<span class="floatleft color-6">您打出的分数 :</span>
										<span>满分10分</span>
									</div>
									<select>
										<option><em>0</em>分</option>
										<option><em>1</em>分</option>
										<option><em>2</em>分</option>
										<option><em>3</em>分</option>
										<option><em>4</em>分</option>
										<option><em>5</em>分</option>
										<option><em>6</em>分</option>
										<option><em>7</em>分</option>
										<option><em>8</em>分</option>
										<option><em>9</em>分</option>
										<option><em>10</em>分</option>
									</select>
								</div>
							</li>
						</ul>
						<span class="nextstep Submitstep aligncenter font18 mart20">提交评分</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="" />
		<title></title>
	</head>
	<body>
		
	</body>
</html>
