<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>评分-step1</title>
	    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/iscroll.js"></script>
		<script type="text/javascript" src="../js/lAapp.js"></script>
	</head>
	<body>
		<div class="view">
			<!--header begin-->
			<header class="header clearfix">
				<div class="TopL"><span class="BtnIcon Back"></span></div>
				<div class="TopM aligncenter"><span class="font17">评分表单</span></div>
				<!--<div class="TopR" id="Search"></div>-->
			</header>
			<!--header over-->
			<div class="content" id="wrapper">
				<div id="scroller">
					<div class="editMain">
						<ul class="editList process score p-top10">
							<li class="choose">
								<p class="color-8 alignleft marl10">第1项</p>
								<div class="LiOut mart5">
									<div class="Inmask clearfix">
										<span class="floatleft color-6">责任心</span>
										<span><em>10 分</em></span>
									</div>
								</div>
							</li>
							<li class="choose">
								<p class="color-8 alignleft marl10">第2项</p>
								<div class="LiOut mart5">
									<div class="Inmask clearfix">
										<span class="floatleft color-6">工作效率</span>
										<span><em>10 分</em></span>
									</div>
								</div>
							</li>
							<li class="choose">
								<p class="color-8 alignleft marl10">第3项</p>
								<div class="LiOut mart5">
									<div class="Inmask clearfix">
										<span class="floatleft color-6">工作质量</span>
										<span><em>10 分</em></span>
									</div>
								</div>
							</li>
							<li class="choose">
								<p class="color-8 alignleft marl10">第4项</p>
								<div class="LiOut mart5">
									<div class="Inmask clearfix">
										<span class="floatleft color-6">团队协作</span>
										<span><em>10 分</em></span>
									</div>
								</div>
							</li>
							
						</ul>
						<span class="nextstep Submitstep aligncenter font18 mart20">提交评分</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="" />
		<title></title>
	</head>
	<body>
		
	</body>
</html>
