<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>填写申请-step2</title>
	    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/iscroll.js"></script>
		<script type="text/javascript" src="../js/lAapp.js"></script>
	</head>
	<body>
		<div class="view">
			<!--header begin-->
			<header class="header clearfix">
				<div class="TopL"><span class="BtnIcon Back"></span></div>
				<div class="TopM aligncenter"><span class="font17">转审—刘德华出差申请</span></div>
				<div class="TopR" id="Search"></div>
			</header>
			<!--header over-->
			<div class="content" id="wrapper">
				<div id="scroller">
					<div class="editMain">
						<ul class="editList process p-top10">
							<li class="choose nobg"><!--点击加current,显示背景色-->
								<div class="LiOut mart5 nobgimg"><!--当选择了流程时候此处加和nobgimg,然后把Inmask隐藏掉,下方显示流程的名字-->
									<div class="Inmask clearfix" style="display:none;">
										<span class="floatleft">选择流程</span>
									</div>
									<div class="Userprocess txt_hidden clearfix">
										<div class="marl10">
											<em>刘德华</em>
											<em>&gt;</em>
											<em>孙燕姿</em>
											<em>&gt;</em>
											<em>赵四</em>
											<em>&gt;</em>
											<em>刘德华</em>
											<em>&gt;</em>
											<em>孙燕姿</em>
											<em>刘德华</em>
											<em>&gt;</em>
											<em>孙燕姿</em>
										</div>
									</div>
								</div>
							</li>
						</ul>	
						<ul class="editList process processlist process_de p-top10">
							<li><p class="color-8 marl10">详细流程</p></li>
							<li class="choose">
								<div class="LiOut nobgimg mart5">
									<div class="Userprocess txt_hidden clearfix">
										<span class="marl10">第一步：</span>
										<span><img src="../img/cdm.jpg"></span>
										<span class="color-6">刘德华</span>
									</div>
								</div>
							</li>
							<li class="choose">
								<div class="LiOut nobgimg">
									<div class="Userprocess txt_hidden clearfix">
										<span class="marl10">第二步：</span>
										<span><img src="../img/cdm.jpg"></span>
										<span class="color-6">刘德华</span>
									</div>
								</div>
							</li>
							<li class="choose">
								<div class="LiOut nobgimg">
									<div class="Userprocess txt_hidden clearfix">
										<span class="marl10">第三步：</span>
										<span><img src="../img/cdm.jpg"></span>
										<span class="color-6">刘德华</span>
									</div>
								</div>
							</li>
							<li class="choose">
								<div class="LiOut nobgimg">
									<div class="Userprocess txt_hidden clearfix">
										<span class="marl10">第四步：</span>
										<span><img src="../img/cdm.jpg"></span>
										<span class="color-6">刘德华</span>
									</div>
								</div>
							</li>
						</ul>
						<ul class="editList process processlist mart50">
							<li><p class="color-8 marl10">提醒设置</p></li>
							<li class="mart5">
								<div class="LiOut">
									<div class="Inmask clearfix">
										<span class="floatleft color-6">置顶在TA的待审列表中</span>
										<button class="BtnONF BtnOff"><span></span></button>
										<!--关闭状态把 BtnOn 替换为BtnOff-->
									</div>
								</div>
							</li>
							<li>
								<div class="LiOut">
									<div class="Inmask clearfix">
										<span class="floatleft color-6">经办完成后请通知我确认</span>
										<button class="BtnONF BtnOff"><span></span></button>
										<!--关闭状态把 BtnOn 替换为BtnOff-->
									</div>
								</div>
							</li>
							<li>
								<div class="LiOut">
									<div class="Inmask clearfix">
										<span class="floatleft color-6">超过24小时开启提醒</span>
										<button class="BtnONF BtnOff"><span></span></button>
										<!--关闭状态把 BtnOn 替换为BtnOff-->
									</div>
								</div>
							</li>
						</ul>
						<span class="nextstep Submitstep aligncenter font18 mart20">提交申请</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
