<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <title>填写申请-step1</title>
	    <link rel="stylesheet" type="text/css" href="../css/appstyles.css">
		<script type="text/javascript" src="../js/jquery.js"></script>
		<script type="text/javascript" src="../js/iscroll.js"></script>
		<script type="text/javascript" src="../js/lAapp.js"></script>
	</head>
	<body>
		<div class="view">
			<!--header begin-->
			<header class="header clearfix">
				<div class="TopL"></div>
				<div class="TopM aligncenter"><span class="font17">出差申请</span></div>
				<div class="TopR" id="Search"><span class="inlineblock quit">取 消</span></div>
			</header>
			<!--header over-->
			<div class="content" style="overflow-y: scroll;">
				<div>
					<div class="editMain p-bt20">
						<ul class="editList p-top10">
							<li class="choose">
								<div class="LiOut">
									<div class="Inmask clearfix">
										<span class="floatleft">申请部门</span>
										<span class="text_int">必填</span>
									</div>
								</div>
							</li>
							<li>
								<div class="LiOut has-error"><!--验证填写的信息是否真确，如果不正确加has-error 显示错误提示 hideInmask-->
									<div class="Inmask clearfix">
										<span class="floatleft">申请部门</span>
										<span class="text_int"><input type="text" placeholder="必填" class="" value=""></span><!--开始填写时加alignleft-->
									</div>
								</div>
							</li>
							<li class="mart10 autoHeight">
								<div class="LiOut has-error">
									<textarea class="article" placeholder="采购事项"></textarea>
								</div>
								<p class="color-9">请点击空白区域，输入采购事项</p>
							</li>
							<li class="mart10 autoHeight">
								<div class="LiOut hideInmask"><!--点击填写的时候加hideInmask隐藏提示信息-->
									<textarea class="article"></textarea>
									<div class="Inmask clearfix">
										<span class="floatleft color-c">备注</span>
									</div>
									<span class="textnumber font14">最多500字</span>
								</div>
								<p class="color-9">请点击空白区域，输入备注</p>
							</li>
							<li class="choose mart10 autoHeight upimg">
								<div class="LiOut">
									<div class="Inmask clearfix">
										<span class="floatleft">上传图片</span>
									</div>
									<div class="uploadimg">
										<img src="../img/cdm.jpg">
										<img src="../img/cdm.jpg">
										<img src="../img/cdm.jpg">
										<img src="../img/cdm.jpg">
										<img src="../img/cdm.jpg">
										<img src="../img/cdm.jpg">
									</div>
								</div>
								<p class="color-9">您最多可上传6张图片</p>
							</li>
						</ul>	
						<!--多选begin-->
						<ul class="editList process processlist doubleCheck p-top10">
							<li><p class="color-8 marl10 has-error">选择多种付款方式<span class="floatright marr10 error">请选择付款方式</span></p></li>
							<li class="choose mart5"><!--加choosed选中当前流程-->
								<div class="LiOut">
									<div class="Userprocess clearfix">
										<em>银行付款</em>
									</div>
									<span class="Check"></span>
								</div>
							</li>
							<li class="choose"><!--加choosed选中当前流程-->
								<div class="LiOut">
									<div class="Userprocess clearfix">
										<em>支票</em>
									</div>
									<span class="Check"></span>
								</div>
							</li>
						</ul>
						<!--多选over-->
						<!--单选begin-->
						<ul class="editList process processlist p-top10">
							<li><p class="color-8 marl10">选择性别<span class="floatright marr10 error">请选择付款方式</span></p></li>
							<li class="choose mart5"><!--加choosed选中当前流程-->
								<div class="LiOut">
									<div class="Userprocess clearfix">
										<em>男</em>
									</div>
								</div>
							</li>
							<li class="choose"><!--加choosed选中当前流程-->
								<div class="LiOut">
									<div class="Userprocess clearfix">
										<em>女</em>
									</div>
								</div>
							</li>
						</ul>
						<!--单选over-->
						<span class="nextstep aligncenter font18 mart20">下一步</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
